:root {
  --red: rgb(221, 8, 47);
  --green: hsl(109, 99%, 49%);
  --yellow: #ffcc02;
  --sky: #01fbfb;
  --orange: #ffcc02;
  --blue: #519afb;
}
body {
  color: white;
  font-family: system-ui;
}

.pokedex {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  perspective: 1000px;
}

.pokedex:hover .pokedex-right-back {
  transform: rotateY(0);
}

.pokedex:hover .pokedex-right-front {
  transform: rotateY(180deg);
}

.pokedex-right-back {
  background-color: var(--red);
  height: calc(100% - 100px);
  width: inherit;
  position: absolute;
  /* left right top bottom z-index */
  left: 100%;
  bottom: 0;
  z-index: 2;
  transform-origin: left center;
  transform: rotateY(-180deg);
  transition: 1s;
  backface-visibility: hidden;
  border: 1px solid black;
  box-sizing: border-box;
}

.pokedex-right-front {
  background-color: var(--red);
  height: calc(100% - 100px);
  width: inherit;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  transform-origin: right center;
  /* transform: rotateY(-180deg); */
  transition: 1s;
  backface-visibility: hidden;
  border: 1px solid black;
  box-sizing: border-box;
}

.pokedex-left {
  background-color: var(--red);
  height: inherit;
  width: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border: 1px solid black;
  border-radius: 10px 0 0 10px;
  border-right: 10px solid black;
  box-sizing: border-box;
}

.pokedex-right-front-header {
  width: calc(100% - 150px);
  height: 80px;
  background: var(--red);
  position: absolute;
  bottom: 100%;
  right: -1px;
  border: 1px solid black;
  border-bottom: none;
  box-sizing: border-box;
}

.pokedex-right-front-header::after {
  content: 'css o ke ase';
  display: block;

}
.pokedex-right-front-header::before {
  content: '';
  display: block;
  width: 0;
  border-left: 40px solid transparent;
  border-right: 40px solid var(--red);
  border-top: 40px solid transparent;
  border-bottom: 40px solid var(--red);
  position: absolute;
  right: 100%;
  top: 0;
  filter: drop-shadow(-.5px -.5px 0 black)
}

.pokedex-right-back-header {
  width: calc(100% - 150px);
  height: 80px;
  background: var(--red);
  position: absolute;
  bottom: 100%;
  left: -1px;
  border: 1px solid black;
  border-bottom: none;
  box-sizing: border-box;

}


.pokedex-right-back-header::before {
  content: '';
  display: block;
  width: 0;
  border-left: 40px solid var(--red);
  border-right: 40px solid transparent;
  border-top: 40px solid transparent;
  border-bottom: 40px solid var(--red);
  position: absolute;
  left: 100%;
  top: 0;
  filter: drop-shadow(1px -1px 0 black)

}
