:root {
  --red: rgb(221, 8, 47);
  --green: hsl(109, 99%, 49%);
  --yellow: #ffcc02;
  --sky: #01fbfb;
  --orange: #ffcc02;
  --blue: #519afb;
}
body {
  color: white;
}

.pokedex {
  width: 400px;
  height: 500px;
  margin: 0 auto;
  border-radius: 10px;
  position: relative;
  perspective: 1000px;
}

.pokedex:hover .pokedex-right-back {
  transform: rotateY(0);
}

.pokedex:hover .pokedex-right-front {
  transform: rotateY(180deg);
}

.pokedex-right-back {
  background-color: var(--red);
  height: calc(100% - 100px);
  width: inherit;
  position: absolute;
  /* left right top bottom z-index */
  left: 100%;
  bottom: 0;
  z-index: 2;
  transform-origin: left center;
  transform: rotateY(-180deg);
  transition: 1s;
  backface-visibility: hidden;
}

.pokedex-right-front {
  background-color: var(--red);
  height: calc(100% - 100px);
  width: inherit;
  position: absolute;
  left: 0;
  bottom: 0;
  z-index: 3;
  transform-origin: right center;
  /* transform: rotateY(-180deg); */
  transition: 1s;
  backface-visibility: hidden;
}

.pokedex-left {
  background-color: var(--red);
  height: inherit;
  width: inherit;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1;
  border-right: 10px solid black;
  box-sizing: border-box;
}

.pokedex-right-front-header {
  width: calc(100% - 200px);
  height: 80px;
  background: var(--green);
}